.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
    
}
.nav-items > ul > li {
    padding: 0px 19px;
}
.logo{
    height: 90px ;
    width: 90px;
    border-radius: 50%;
}
.cards{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}
.cards > img {
    width: 100%;
}

.restro-cards{
    display: flex;
    flex-wrap: wrap;
}